{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main>
  {% for object in object_list %}
      <header class="header_blog">
        <h2>{{ object.title }}</h2>
      </header>
      <div class="image_list">
        <img src="/media/{{ object.photo }}" width="220" height="200">
      </div>
    <div class="text_list">
      <h6 style="color:white">{{ object.content | truncatechars:200 }}</h6>
    </div>
    <div class="button">
        <a href="{% url 'blog:blog_view' object.pk %}" type="button" class="btn btn-sm btn-info">Читать</a>
    </div>
  {% endfor %}
</main>
{% endblock %}