{% extends 'main/base.html' %}
{% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{ object.position }}</h1>
        <p class="col-md-8 fs-4">ФИО։ {{ object.fullname }}</p>
        <p class="col-md-8 fs-4">Почта։ {{ object.mail }}</p>
        <p class="col-md-8 fs-4">Номер телефона։ {{ object.phone }}</p>
          {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'main:sending' %}" type="button">Записаться к врачу</a>
          {% else %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  Чтобы записаться к врачу, нужно быть авторизованным пользователем нашего сайта.
                </div>
          {% endif %}
      </div>
    </div>
{% endblock %}